In [2]:
# Import necessary libraries:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Dataset:

In [6]:
df = pd.read_csv("chemicals-in-cosmetics-.csv")
df.head()

,index,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
0,0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),...,13463-67-7,6,Titanium dioxide,06/17/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1
1,1,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),...,65996-92-1,4,Distillates (coal tar),07/01/2009,07/01/2009,NaN,07/01/2009,07/01/2009,NaN,2
2,2,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),...,140-67-0,5,Estragole,07/01/2009,07/01/2009,NaN,07/02/2009,07/02/2009,NaN,2
3,3,4,PRECISION GLIMMER EYE LINER-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),...,13463-67-7,7,Titanium dioxide,07/09/2009,08/28/2013,NaN,07/09/2009,07/09/2009,NaN,1
4,4,5,AVON BRILLIANT SHINE LIP GLOSS-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),...,13463-67-7,8,Titanium dioxide,07/09/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1

In [7]:
def open_object_dtype(s):
    dtypes = set()
    # YOUR CODE HERE
    for i in df[s].items():
        dtypes.add(type(i[1]))
    return dtypes
for column in df.columns:
    print(open_object_dtype(column))
df.dtypes

{<class 'int'>}
{<class 'int'>}
{<class 'str'>}
{<class 'float'>}
{<class 'str'>, <class 'float'>}
{<class 'int'>}
{<class 'str'>}
{<class 'str'>, <class 'float'>}
{<class 'int'>}
{<class 'str'>}
{<class 'int'>}
{<class 'str'>}
{<class 'int'>}
{<class 'str'>, <class 'float'>}
{<class 'int'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>, <class 'float'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>, <class 'float'>}
{<class 'int'>}

index                       int64
CDPHId                      int64
ProductName                object
CSFId                     float64
CSF                        object
CompanyId                   int64
CompanyName                object
BrandName                  object
PrimaryCategoryId           int64
PrimaryCategory            object
SubCategoryId               int64
SubCategory                object
CasId                       int64
CasNumber                  object
ChemicalId                  int64
ChemicalName               object
InitialDateReported        object
MostRecentDateReported     object
DiscontinuedDate           object
ChemicalCreatedAt          object
ChemicalUpdatedAt          object
ChemicalDateRemoved        object
ChemicalCount               int64
dtype: object

In [8]:
df = df.replace(np.nan, ' ')
for column in df.columns:
    print(open_object_dtype(column))
df.dtypes

{<class 'int'>}
{<class 'int'>}
{<class 'str'>}
{<class 'str'>, <class 'float'>}
{<class 'str'>}
{<class 'int'>}
{<class 'str'>}
{<class 'str'>}
{<class 'int'>}
{<class 'str'>}
{<class 'int'>}
{<class 'str'>}
{<class 'int'>}
{<class 'str'>}
{<class 'int'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>}
{<class 'str'>}
{<class 'int'>}

index                      int64
CDPHId                     int64
ProductName               object
CSFId                     object
CSF                       object
CompanyId                  int64
CompanyName               object
BrandName                 object
PrimaryCategoryId          int64
PrimaryCategory           object
SubCategoryId              int64
SubCategory               object
CasId                      int64
CasNumber                 object
ChemicalId                 int64
ChemicalName              object
InitialDateReported       object
MostRecentDateReported    object
DiscontinuedDate          object
ChemicalCreatedAt         object
ChemicalUpdatedAt         object
ChemicalDateRemoved       object
ChemicalCount              int64
dtype: object

Phần trăm giá trị nan ở các cột numerical:

In [32]:
def nan_percentage(column):
    print('Percentage of empty value in column ' + column + ':', df[column].isnull().sum() / len(df[column]))
nan_percentage('CSFId')
nan_percentage('CompanyId')
nan_percentage('PrimaryCategoryId')
nan_percentage('SubCategoryId')
nan_percentage('CasId')
nan_percentage('ChemicalId')
nan_percentage('ChemicalCount')

Percentage of empty value in column CSFId: 0.0
Percentage of empty value in column CompanyId: 0.0
Percentage of empty value in column PrimaryCategoryId: 0.0
Percentage of empty value in column SubCategoryId: 0.0
Percentage of empty value in column CasId: 0.0
Percentage of empty value in column ChemicalId: 0.0
Percentage of empty value in column ChemicalCount: 0.0

Không có giá trị thừa, may quá :v

Rất may là các cột numeric đều có mục đích định danh cho các chất hóa học, nên việc xem xét min/max của các giá trị trong các cột này là không cần thiết :v